[run]
source = zope.testrunner
parallel = true
omit =
    # These files are definitely imported and executed,
    # but for some reason don't show up as such.
    # See testrunner-knit
    src/zope/testrunner/tests/testrunner-ex-pp-products/more/sampletests.py
    src/zope/testrunner/tests/testrunner-ex-pp-products/sampletests.py

[report]
precision = 2
exclude_lines =
    pragma: no cover
    if __name__ == '__main__':
    raise NotImplementedError
    self.fail
    raise AssertionError
    if is_jython:
    if sys.platform == 'win32':
