[buildout]
develop = .
parts = test python

[test]
recipe = zc.recipe.testrunner
eggs = zope.testrunner[test]

[python]
recipe = zc.recipe.egg
eggs = ${test:eggs}
scripts = nothanks
interpreter = python
